.post{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid 3px #EC1C24 ;
    background: #FFD7D7;
    color: #4E5166;
    margin: auto;
    margin-top: 55px !important ;
    width: 450px;
    height: 500px;
    border-radius: 15px;
}

.post-status{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

img{
    display: inline-block;
    object-fit: cover;
    width: auto; 
    height: 200px;   
    width: 440px;
}

figure{
    margin: 0;
    overflow: hidden;
    height: auto;
    width: auto;
}

.post-like{
    display: flex;
    justify-content: space-between;
    margin: 1px 2px;
}

.like{
    border: solid 2px #4E5166;
    width: 30%;
    padding: 15px;
    background: lighten(#4E5166, 40%);
    font-size: 16px;
    border-radius: 0 0 0 10px;
}
.like:hover{
    border: solid 2px #888eb8;
    background: lighten(#353c74, 40%);
}

.liked{
    color: rgb(11, 116, 11);
    border: 2px solid rgb(27, 65, 27);
}

.dislike{
    border: solid 2px #4E5166;
    width: 30%;
    padding: 5px;
    background: lighten(#4E5166, 40%);
    font-size: 16px;
    border-radius: 0 0 10px 0;
}
.dislike:hover{
    border: solid 2px #888eb8;
    background: lighten(#353c74, 40%);
}

.disliked{
    color: #8a3a3a;
    border: 2px solid #EC1C24;
}

.back{
    border-radius: 10px 0 0 0;
    font-size: 20px;

}
.modify{
    border-radius: 0 10px 0 0; 
    font-size: 20px;
}

button{
    border: 2px solid #EC1C24 ;
    padding: 5px;
    background:  darken(#FFD7D7 , 15%);
    color: #4E5166;
    font-weight: bold;
}

button:hover{
    background: darken( #FFD7D7 , 8%) ;
    border: solid 2px #4E5166;
}

.delete{
    width: 30%;
    font-size: 20px;
}

.post-body{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.post-update{
    display: flex;
    flex-direction: column;
}

.post-input{
    margin: 10px;
    padding: 10px;
    max-width: 70%;
}

.post-content{
    display: flex;
    flex-wrap: wrap;
}

.save{
    border-radius:0 0 10px 10px;
}

.comment-input{
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    width: 250px;
}

.comment-button{
    border-radius: 0 10px 10px 0;
    padding: 10px;
    
}

.comment{
    margin: auto;
    margin-top: 5px !important ;
    padding: 5px;
    width: 400px;
}