.post{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid 3px #EC1C24 ;
    background: #FFD7D7;
    color: #4E5166;
    margin: auto;
    margin-top: 55px !important ;
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.post-status{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

img{
    width: 100%;
}

.post-like{
    display: flex;
    justify-content: space-between;
    margin: 1px 2px;
}

.like{
    border: solid 2px #4E5166;
    width: 30%;
    padding: 5px;
    background: lighten(#4E5166, 40%);
    font-size: 16px;
    border-radius: 0 0 0 10px;
}

.liked{
    color: rgb(2, 170, 2);
    border: 2px solid rgb(50, 150, 50);
}

.dislike{
    border: solid 2px #4E5166;
    width: 30%;
    padding: 5px;
    background: lighten(#4E5166, 40%);
    font-size: 16px;
    border-radius: 0 0 10px 0;
}

.disliked{
    color: #8a3a3a;
    border: 2px solid #EC1C24;
}

.back{
    border-radius: 10px 0 0 0;
    padding: 5px;
}
.modify{
    border-radius: 0 10px 0 0;
    padding: 5px;
}

button{
    border: 2px solid #EC1C24 ;
    padding: 5px;
    background:  darken(#FFD7D7 , 15%);
    color: #4E5166;
    font-weight: bold;
}

button:hover{
    background: darken( #FFD7D7 , 8%) ;
    border: solid 2px #4E5166;
}

.delete{
    width: 30%;
}

.post-body{
    padding: 5px;
}

.post-update{
    display: flex;
    flex-direction: column;
}

.post-input{
    margin: 10px;
    padding: 10px;
    max-width: 70%;
}

.save{
    border-radius:0 0 10px 10px;
}

.comment-input{
    padding: 10px;
}

.comment-button{
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.comment{
    margin: auto;
    margin-top: 5px !important ;
    padding: 5px;
    width: 400px;
}