.form-card{
    border: solid 2px #EC1C24 ;
    background: #FFD7D7;
    color: #4E5166;
    margin: auto;
}

.post-card{
    border: solid 2px #EC1C24 ;
    background: #FFD7D7;
    color: #4E5166;
    
    margin: auto;
}