.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 400px;
    border: solid 2px #EC1C24 ;
    background: #FFD7D7;
    color: #4E5166;
    margin: 15px;
    border-radius: 15px;
}

img{
    display: inline-block;
    object-fit: cover;
    width: auto; 
    height: 150px;   
}

figure{
    margin: 0;
    overflow: hidden;
    height: auto;
    width: auto;
}

.post-content{
    margin: 0 10px;
}

.post-comment{
    display: flex;
    justify-content: space-between;
    border: solid 2px #EC1C24;
    padding: 9px;
    border-radius: 0 0 12px 12px;
    background: darken(#FFD7D7, 20%) ;
}

.div-like{
    display: flex;
    flex-direction: row;
}

.like{
    border: solid 2px #4E5166;
    padding: 0 10px;
    margin: 0 10px;
    background: lighten(#65698a, 35%);
    border-radius: 10px;
}

button{
    border: solid 2px #6a6e8f;
    background: #4E5166;
    color: #EC1C24;
    font-weight: bold;
    width: 40%;
    height: 35px;
    border-radius: 7px;
}

button:hover{
    border: solid 2px #4E5166;
    background: lighten(#EC1C24, 5%);
    color: #4E5166;
}