<div class="post">
    <div class="post-content">
        <p> {{post.userId}} </p>
        <h2> {{post.name}} </h2>
        <p> {{post.post}} </p> 
        <figure>
            <img *ngIf="post.imageUrl" [src]="post.imageUrl" [alt]="post.name" />
        </figure>  
    </div>
    <div class="post-comment">
        <div class="div-like">
            <p class="like">like: {{post.likes}} </p>
            <p class="like"> dislike: {{post.dislikes}} </p>
        </div>
        <button (click)="onComment()">voir les commentaires</button>
    </div>
</div>