.loging-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    border: solid 10px darken(#4E5166, 8%);
    background: #4E5166;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
}

img {
    margin-top: 35px;
}

form {
    margin: 50px ;
    display: flex;
    flex-direction: column;
    color: #4E5166;
}

label{
    color: #EC1C24;
    margin-left: 15px ;
    font-size: 20px;
}

input{
    margin: 15px;
    padding: 5px 0 5px 15px;
    border: solid 2px #EC1C24 ;
    background: #FFD7D7;
    font-size: 13px;
    border-radius: 3px;
}

button{
    border-radius: 5px;
    padding: 5px;
    background:  darken(#FFD7D7 , 15%);
    color: #4E5166;
    font-weight: bold;
}

button:hover{
    background: darken( #FFD7D7 , 8%) ;
    border: solid 2px #EC1C24;
}